table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }
  .save-button {
    background: green;
    margin: 8px 8px 8px 0;
    justify-content: flex-end;
     
    justify-content: end;
    width: 120px;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 100px;
    border-radius: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  